services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      target: base
    working_dir: /app
    volumes:
      - .:/app:cached
      - /app/node_modules
    environment:
      - NODE_ENV=production
    ports:
      - "5173:5173"
    command: sleep infinity
